<?xml version="1.0" encoding="utf-8"?><!--
  ~ /*
  ~  *
  ~  *  * Copyright (c) 2024 Mindful (https://github.com/akaMrNagar/Mindful)
  ~  *  * Author : Pawan Nagar (https://github.com/akaMrNagar)
  ~  *  *
  ~  *  * This source code is licensed under the GPL-2.0 license license found in the
  ~  *  * LICENSE file in the root directory of this source tree.
  ~  *
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ____________________________________________________________________________________ -->
    <!-- ________________________________ PERMISSIONS _______________________________________ -->
    <!-- ____________________________________________________________________________________ -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- The app does not need
    INTERNET permission but it is declared only to create local vpn socket -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="${applicationName}"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:enableOnBackInvokedCallback="false"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <!--
                 Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI.
            -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- _________________________________________________________________________________ -->
        <!-- ________________________________ RECEIVERS _______________________________________ -->
        <!-- _________________________________________________________________________________ -->
        <receiver
            android:name=".receivers.DeviceAdminReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_config" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widgets.DeviceUsageWidget"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/device_usage_widget_info" />
        </receiver>
        <receiver
            android:name=".receivers.DeviceBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.alarm.BedtimeRoutineReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receivers.alarm.MidnightResetReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receivers.alarm.NotificationBatchReceiver"
            android:enabled="true"
            android:exported="false" />
        <!-- _________________________________________________________________________________ -->
        <!-- ________________________________ SERVICES _______________________________________ -->
        <!-- _________________________________________________________________________________ -->
        <service
            android:name=".services.MindfulTrackerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".services.OverlayDialogService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".services.EmergencyPauseService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".services.FocusSessionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".services.MindfulAccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".services.MindfulVpnService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="false" />
        </service>
        <service
            android:name=".services.MindfulNotificationListenerService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <!-- Don't delete the meta-data below.This
        is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>